@import 'bootstrap';

.jumbotron {
  margin-top: 60px;
}

.quiet {
  color: #ababab;
}

body{
  background-image: image-url("hardwood.jpg")
}

.label, .badge  {
  a, a:hover, a:focus {
    color: #fff;
    text-decoration: none;
  }
}

/*
.container {
  margin-left: 135px
}

.navbar .nav > li > a.brand {
  padding-left: 0px;
}

div.nav_item {
  margin-left: 25px;
  float: left;
}

div.comment_votes {
  padding: 10px;
}
*/
